<%- include("header") %>

<h1>Compose</h1>
<form action="/compose" method="post">
    <label>Title</label>
    <input type="text" name="title" placeholder="title" class="form-control" >
    <br>
    <label>Post</label>
    <textarea name="message" class="form-control" cols="30" rows="5"></textarea>
    <button type="submit" class="btn btn-primary"> Publish</button>
</form>

<%- include("footer") %>